---
import Layout from "../../layouts/Layout.astro";
import { loadQuery } from "../../sanity/lib/load-query";
import PortableText from "../../components/Sanity/PortableText.astro";
import Contact from "../../components/Home/Contact.astro";

const { params } = Astro;

const { data: post } = await loadQuery({
  query: `*[_type == "post" && slug.current == $slug]{ _id, "thumbnail":mainImage.asset->url, title, body, description, publishedAt, _updatedAt}[0]`,
  params,
});
---

<Layout title={post.title + ' Walls and Gates Academy'}>
  <div class="jumbotron">
    <img src='https://cdn.sanity.io/images/oasqxun4/production/ad6b2eb64ef56f15d9a7d957edf972a42cf5a558-5760x3840.jpg?auto=format&bg=000&h=1080&w=1980' alt={'Image for ' + post.title + 'Walls and Gates Academy'}>
  </div>

  <div class="article">
    <h1 class="title">{post.title}</h1>
    <p class="subtitle">{post.description}</p>
    <div class="body">
      <PortableText portableText={post.body} />
    </div>
    <div class="end">
      <p>Created At: <span>{post.publishedAt}</span></p>
      <p>Last Updated: <span>{post._updatedAt}</span></p>
    </div>
  </div>

  
</Layout>

<Contact />
<style is:global >
/* General Styles */

.jumbotron img {
  width: 100%;
  max-height: 500px;
  object-fit: cover;
  border-bottom: 4px solid #ccc;
}

/* Article Styles */
.article {
  max-width: 800px;
  margin: 2rem auto;
  padding: 1rem 2rem;
  background: #fff;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);

  font-size: 14px;
}

.article .title {
  font-size: 36px;
  font-weight: 400;
  color: #444;
  margin-bottom: 1rem;
}

.article .subtitle {
  font-size: 16px;
  color: #666;
  margin-bottom: 1.5rem;
}

.article .body {
  margin: 2rem 0;
}

.article .body h1 {
  margin: 1rem 0;
}

.article .body h2 {
  margin: 1rem 0;
}

.article .body h3 {
  margin: 1rem 0;
}

.article .body h4 {
  margin: 1rem 0;
}

.article .body h5 {
  margin: 1rem 0;
}

.article .body h6 {
  margin: 1rem 0;
}


.article .body p {
  /* font-size: 1.1rem; */
  margin-bottom: 1rem;
}

.article .body strong{
  font-weight: 500;
}

.article .body a {
  color: #3498db;
  text-decoration: none;
  border-bottom: 1px dotted #3498db;
  transition: color 0.2s ease-in;
}

.article .body a:hover {
  color: #2980b9;
}

.article .body code {
  background-color: #f4f4f4;
  border-radius: 4px;
  padding: 2px 4px;
  font-family: 'Courier New', Courier, monospace;
}

.article .body pre {
  background: #f8f8f8;
  border: 1px solid #ccc;
  border-radius: 4px;
  padding: 1rem;
  font-size: 0.9rem;
  overflow-x: auto;
}

.article .body ul,
.article .body ol {
  padding-left: 1.5rem;
  margin-bottom: 1rem;
}

.article .body ul li,
.article .body ol li {
  margin-bottom: 0.5rem;
}

.article .body img {
  width: 100%;
  max-height: 600px;
  border-radius: 8px;
  margin-bottom: 1rem;
}

/* End Section Styles */
.article .end {
  display: flex;
  justify-content: space-between;
  font-size: 0.9rem;
  color: #888;
  border-top: 1px solid #eee;
  padding-top: 1rem;
}

.article .end span {
  font-style: italic;
  color: #555;
}
</style>
